<div class="container flex justify-center">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Ingresa a tu perfil</h3>
        </div>
        <form id="form-login">
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                    </div>
                    <input type="text" name="document_nro" class="form-control" placeholder="Numero Documento">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Correo">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success w-100">Ingresar</button>
            </div>
        </form>
        <div class="card-footer">
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar</button>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-register">
            <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                        </div>
                        <input type="text" name="document_nro" class="form-control" placeholder="Numero Documento" maxlength="12" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
                        </div>
                        <input type="text" name="name" class="form-control" placeholder="Nombre Completo" maxlength="64" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-mobile-retro"></i></span>
                        </div>
                        <input type="text" name="phone" class="form-control" placeholder="Celular" maxlength="12" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Correo" maxlength="120" required>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
      </div>
    </div>
</div>